body {
    background: #eff2f7;
}
.chart {
    background: #FFF;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
}
.header {
    padding: 10px;
    border-bottom: 1px solid #cdcdcd;
    font-family: sans-serif
}